.MuiCard-root {
    width: unset;
    cursor: pointer;

}

.MuiCard-root:hover {
    transform: scale(1.08);
    transition: transform 0.2s;
}

.fontColor {
    color: white;
}

.past-events {
    font-size: 100px;
    color: blue;
    margin-top: 40px;
}